<header class="h-100" style="background-color: #ffffff;">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-brand static-top input100" [containerInside]="true">
    <div class="container">
      <a class="navbar-brand nav-link login100-form-title p-b-34" routerLink="/"><strong>Wild adventures</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

            <li class="navbar-brand nav-link active waves-light" mdbWavesEffect>
              <a routerLink="/" class=" login100-form-title p-b-34">Home<span class="sr-only">(current)</span></a>
            </li>

            <li class="navbar-brand waves-light" mdbWavesEffect>
              <a routerLink="/categories" class="login100-form-title p-b-34">Adventures</a>
            </li>

            <li *ngIf="isLogged() == false" class="navbar-brand waves-light" mdbWavesEffect>
              <a routerLink="/login" class="login100-form-title p-b-34">Login</a>
            </li>

            <li *ngIf="isLogged() == false" class="navbar-brand waves-light" mdbWavesEffect>
              <a routerLink="/register" class="login100-form-title p-b-34">Register</a>
            </li>

            <li *ngIf="isLogged()" class="navbar-brand waves-light" mdbWavesEffect>
              <a routerLink="/espaceclient" class="login100-form-title p-b-34">Espace Client</a>
            </li>

            <li *ngIf="isLogged()" class="navbar-brand waves-light" mdbWavesEffect>
              <a (click)="logout()" class="login100-form-title p-b-34">Logout</a>

        </ul>
      </div>
    </div>
  </nav>
</header>
