<div class="col-md-6">
  <h2 class="text-center">Edit User</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="mail">Email address:</label>
      <input type="mail" formControlName="mail" placeholder="Email" name="mail" class="form-control" id="mail">
    </div>

    <div class="form-group">
      <label for="name">First Name:</label>
      <input formControlName="name" placeholder="First Name" name="name" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="lastname">Last Name:</label>
      <input formControlName="lastname" placeholder="Last name" name="lastname" class="form-control" id="lastname">
    </div>

    <div class="form-group">
      <label for="password">Last Name:</label>
      <input formControlName="password" placeholder="Password" name="password" class="form-control" id="password">
    </div>

    <button class="btn btn-success" type="submit">Update</button>
  </form>
</div>

