<div class="row input100" *ngIf="user">

  <div class="col-md-12">
    <div class="card card-cascade narrower ">
      <div class="view view-cascade gradient-card-header lighten-1"  style="background-color: #ffffff;">
        <h4 class="h4-responsive">Profile:</h4>
      </div>
      <div class="card-body card-body-cascade text-center">
        <form [formGroup]="profilForm" (ngSubmit)="onSubmit()" class="ng-untouched ng-pristine ng-valid">
          <div class="row">
            <div class="col-md-4">
              <div class="md-form">
                <label for="mail" class="active disabled" disabled>Email</label>
                <input formControlName="mail" type="email" class="form-control" id="mail" placeholder="{{user.mail}}" disabled>
              </div>
            </div>
            <div class="col-md-4">
              <div class="md-form">
                <label class="active" for="name">First Name</label>
                <input formControlName="name" placeholder="{{user.name}}" name="name" class="form-control" id="name" type="text">
              </div>
            </div>
            <div class="col-md-4">
              <div class="md-form">
                <label class="active" for="lastname">Last Name</label>
                <input formControlName="lastname" placeholder="{{user.lastname}}" name="lastname" class="form-control" id="lastname" type="text">
              </div>
            </div>
            <div class="col-md-4">
              <div class="md-form">
                <label class="active" for="password">Password:</label>
                <input formControlName="password" placeholder="Password" name="password" class="form-control" id="password" type="text">
              </div>
            </div>
          </div>
          <div class="text-center">
            <button class="btn blue-gradient btn-rounded waves-light" mdbWavesEffect="" type="submit">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <br>
    <br>
  </div>

</div>
