<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="login100-form validate-form">
					<span class="login100-form-title p-b-34">
						Register
					</span>


        <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type name">
          <input formControlName="name" [ngClass]="{ 'is-invalid': submitted && field.name.errors }" class="input100" type="text" name="name" placeholder="Fristname">
          <span class="focus-input100"></span>
          <div *ngIf="submitted && field.name.errors" class="invalid-feedback">
            <div *ngIf="field.name.errors.required">First Name is required</div>
          </div>
        </div>


        <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
          <input formControlName="lastname" [ngClass]="{ 'is-invalid': submitted && field.lastname.errors }" class="input100" type="text" name="lastname" placeholder="Lastname">
          <span class="focus-input100"></span>
          <div *ngIf="submitted && field.lastname.errors" class="invalid-feedback">
            <div *ngIf="field.lastname.errors.required">Last Name is required</div>
          </div>
        </div>

        <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type name">
          <input formControlName="mail" [ngClass]="{ 'is-invalid': submitted && field.mail.errors }" class="input100" type="text" name="mail" placeholder="Email">
          <span class="focus-input100"></span>
          <div *ngIf="submitted && field.mail.errors" class="invalid-feedback">
            <div *ngIf="field.mail.errors.required">Username is required</div>
          </div>
        </div>


        <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
          <input formControlName="password" [ngClass]="{ 'is-invalid': submitted && field.password.errors }" class="input100" type="password" name="pass" placeholder="Password">
          <span class="focus-input100"></span>
          <div *ngIf="submitted && field.password.errors" class="invalid-feedback">
            <div *ngIf="field.password.errors.required">Password is required</div>
            <div *ngIf="field.password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div>

        <div class="container-login100-form-btn">
          <button [disabled]="loading" type="submit" class="login100-form-btn">
            Register
          </button>
          <p>
            <br><br>
          </p>
        </div>

        <div class="w-full text-center p-t-27 p-b-239">
						<span class="txt1">
							Forgot
						</span>

          <a href="#" class="txt2">
            User name / password?
          </a>
        </div>

        <div class="w-full text-center">
          <a routerLink="/login" class="txt3">
            Sign In
          </a>
        </div>
        <div class="w-full text-center">
          <a routerLink="" class="txt3">
            Cancel
          </a>
        </div>
      </form>

      <div class="login100-more" style="background-image: url('http://www.wallmaya.com/wp-content/uploads/2017/05/5-hiking-hd-wallpapers-backgrounds-wallpaper-ass-2.jpg');"></div>
    </div>
  </div>
</div>
<div id="dropDownSelect1"></div>
