<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form [formGroup]="formLogin" class="login100-form validate-form">
					<span class="login100-form-title p-b-34">
						Account Login
					</span>
        <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
          <input formControlName="formEmail" [ngClass]="{ 'is-invalid': submitted && field.formEmail.errors }" id="first-name" class="input100" type="text" name="username" placeholder="User name">
          <span class="focus-input100"></span>
          <div *ngIf="submitted && field.formEmail.errors" class="invalid-feedback">
            <div *ngIf="field.formEmail.errors.required">Username is required</div>
          </div>
        </div>
        <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
          <input formControlName="formPassword" [ngClass]="{ 'is-invalid': submitted && field.formPassword.errors }" class="input100" type="password" name="pass" placeholder="Password">
          <span class="focus-input100"></span>
          <div *ngIf="submitted && field.formPassword.errors" class="invalid-feedback">
            <div *ngIf="field.formPassword.errors.required">Password is required</div>
          </div>
        </div>

        <div class="container-login100-form-btn">
          <button (click)="login()" type="submit" class="login100-form-btn">
            Sign in
          </button>
        </div>

        <div class="w-full text-center p-t-27 p-b-239">
						<span class="txt1">
							Forgot
						</span>

          <a href="#" class="txt2">
            User name / password?
          </a>
        </div>

        <div class="w-full text-center">
          <a routerLink="/register" class="txt3">
            Sign Up
          </a>
        </div>
        <div class="w-full text-center">
          <a routerLink="" class="txt3">
            Cancel
          </a>
        </div>
      </form>

      <div class="login100-more" style="background-image: url('http://www.portoalegre.travel/upload/b/148/1481455_hiking-wallpaper-hd.jpg');"></div>
    </div>
  </div>
</div>
<div id="dropDownSelect1"></div>
