<!-- Extended default form grid -->
<form>
  <!-- Card inputs -->
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCardNum">Numéro de carte</label>
      <input [(ngModel)]="paymentForm.card.cardNum" name="inputCardNum" type="text" class="form-control"
        id="inputCardNum" placeholder="Numéro de carte">
    </div>

    <div class="form-group col-md-3">
      <label for="cardExpiryMonth">Mois</label>
      <input [(ngModel)]="paymentForm.card.cardExpiry.month" type="text" class="form-control" name="cardExpiryMonth"
        id="cardExpiryMonth" placeholder="Mois">
    </div>

    <div class="form-group col-md-3">
      <label for="cardExpiryYear">Année</label>
      <input [(ngModel)]="paymentForm.card.cardExpiry.year" type="text" class="form-control" name="cardExpiryYear"
        id="cardExpiryYear" placeholder="Année">
    </div>
  </div>

  <!-- BillingDetails inputs -->
  <div class="form-group">
    <label for="street">Addresse</label>
    <input [(ngModel)]="paymentForm.billingDetails.street" type="text" class="form-control" name="street" id="street"
      placeholder="adresse">
  </div>

  <div class="form-row">
    <div class="form-group col-md-8">
      <label for="inputCity">Ville</label>
      <input [(ngModel)]="paymentForm.billingDetails.city" type="text" class="form-control" name="inputCity"
        id="inputCity" placeholder="Ville">
    </div>

    <div class="form-group col-md-4">
      <label for="inputZip">Code postal</label>
      <input [(ngModel)]="paymentForm.billingDetails.zip" type="text" class="form-control" name="inputZip" id="inputZip"
        placeholder="Code postal">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputState">Région</label>
      <input [(ngModel)]="paymentForm.billingDetails.state" type="text" class="form-control" name="inputState"
        id="inputState" placeholder="Région">
    </div>

    <div class="form-group col-md-6">
      <label for="inputCountry">Pays</label>
      <!-- <input [(ngModel)]="paymentForm.billingDetails.country" type="text" class="form-control" name="inputCountry"
        id="inputCountry" placeholder="Pays"> -->
      <select [(ngModel)]="paymentForm.billingDetails.country" name="inputCountry" id="inputCountry" placeholder="Pays"
        class="browser-default custom-select">
        <ng-container *ngFor="let country of countries">
          <option [ngValue]="country.code">{{country.name}}</option>
        </ng-container>
      </select>
    </div>
  </div>

  <button (click)="triggerEvent()" class="btn btn-primary">Payer</button>
</form>
<!-- Extended default form grid -->
