<div class="d-flex m-4" *ngIf="currentAdventure">
  <!-- Adventure-Card -->
  <div class="card w-50 mr-4">
    <img class="card-img-top" src="{{currentAdventure.image}}" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title"><a>{{currentAdventure.name}}</a></h3>
      <p>{{currentAdventure.description}}</p>
    </div>
  </div>

  <div class="d-flex flex-column flex-grow-1">
    <!-- Adventure-Events -->
    <div class="card mb-2" *ngIf="adventureEvents">
      <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-comment"></i>
        Prochaine Aventures:</div>
      <div class="card-body">
        <div *ngFor="let adventureEvent of adventureEvents; let i = index">
          <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
          <meta itemprop="datePublished">
          <p class="mb-0">{{i + 1}} - Date prévue: {{adventureEvent.date | date:'short'}}</p>
          <p class="mb-0">Nombre de participants déjà inscrits: {{adventureEvent.adventurers.length}}</p>
          <button *ngIf="currentUser && canBook(adventureEvent)" mdbBtn color="success" mdbWavesEffect
            (click)="order(adventureEvent)"><i class="fa fa-shopping-cart"></i> Réserver</button>
          <button *ngIf="currentUser && !canBook(adventureEvent)" mdbBtn disabled color="primary" mdbWavesEffect
            (click)="return;">Vous avez déjà
            commandé cette aventure
          </button>
        </div>
      </div>
    </div>

    <!-- Reviews -->
    <div class="card mb-3">
      <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-comment"></i>
        Commentaires:
      </div>
      <div class="card-body">
        <div class="review {{commentUserHolder.backGround}}" *ngFor="let commentUserHolder of commentUserHolders">
          <ng-container *ngIf="commentUserHolder.user && commentUserHolder.comment">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            <meta itemprop="datePublished">
            <p class="mb-0"> {{commentUserHolder.user.name | titlecase}} </p>
            <p class="mb-0">-- {{commentUserHolder.comment.content}}</p>
            <hr />
          </ng-container>
        </div>
        <div class="form-group shadow-textarea" *ngIf="currentUser">
          <h4>Ajouter un commentaire:</h4>
          <textarea [(ngModel)]="textComment" class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3"
            placeholder="C'était trop bien !"></textarea>
          <div class="d-flex justify-content-around">
            <button *ngIf="textComment.length > 0" mdbBtn color="success" mdbWavesEffect (click)="sendComment()">Envoyer
            </button>
            <button *ngIf="textComment.length > 0" mdbBtn color="danger" mdbWavesEffect (click)="resetComment()">Annuler
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
