.blue-gradient {
    background: -webkit-linear-gradient(50deg, #45cafc, #303f9f);
    background: linear-gradient(40deg, #45cafc, #4285f4);
  }
.input100 {
  width: 100%;
  background: transparent;
  font-family: Poppins-Regular;
}
