<div class="row input100">
  <div class="col-md-12">
    <!--Card-->
    <div class="card card-cascade narrower mt-5">
      <!--Card image-->
      <div class="view view-cascade gradient-card-header lighten-1" style="background-color: #ffffff;">
        <h4 class="h4-responsive">Mes commandes</h4>
      </div>
      <!--/Card image-->
      <!--Card content-->
      <div class="card-body">

        <h3 class="mt-5 text-left"><strong>Basic examples</strong></h3>
        <p>Using the most basic table markup, here’s how .table-based tables look in Bootstrap. All table styles are
          inherited in Bootstrap 4, meaning any nested tables will be styled in the same manner as the parent.</p>


        <table class="table">
          <thead>
          <tr>
            <th>Nom</th>
            <th>Date de commande</th>
            <th>Date de payment</th>
            <th>Prix</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let order of orders">
            <td>
              <a routerLink="{{getAssociatedAdventureLink(order)}}">
                  {{getAssociatedAdventure(order)?.name}}
              </a>
            </td>
            <th scope="row">{{order.orderDate | date:'short'}}</th>
            <td *ngIf="order.paymentDate">{{order.paymentDate}}</td>
            <td *ngIf="!order.paymentDate">
                <button mdbBtn color="primary" mdbWavesEffect (click)="onChoseOrder(order)">Payer</button>
            </td>
            <td>{{order.price}} €</td>
          </tr>
          </tbody>
        </table>

      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card-->
  </div>
</div>
