<section id="team" class="pb-5" *ngIf="categories">
  <div class="container">
    <h5 class="section-title h1">CATEGORIES</h5>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let category of categories" (click)="onSelect(category)">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="{{category.image}}" alt="card image"></p>
                  <h4 class="card-title">{{category.name}}</h4>
                  <p class="card-text">This is basic card with image on top, title, description and button.</p>
                  <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">{{category.name}}</h4>
                  <p class="card-text">{{category.description}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
