<!--Main Navigation-->
<header class="input100">
  <!-- Sidebar -->
  <div class="sidebar-fixed navbar-brand position-fixed">

    <a class="logo-wrapper waves-effect">
      <a class="navbar-brand" routerLink="/"><strong>Wild adventures</strong></a>
    </a>

    <div class="list-group list-group-flush">

      <a routerLink="profile" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
        <mdb-icon fas icon="user" class="mr-3"></mdb-icon>Profile
      </a>
      <a routerLink="orderlistuser" routerLinkActive="active"
        class="list-group-item list-group-item-action waves-effect">
        <mdb-icon fas icon="table" class="mr-3"></mdb-icon>Tables
      </a>

    </div>

  </div>
  <!-- Sidebar -->


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-brand static-top input100" [containerInside]="true">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <li class="navbar-brand nav-link active waves-light" mdbWavesEffect>
            <a routerLink="/" class=" login100-form-title p-b-34">Home<span class="sr-only">(current)</span></a>
          </li>

          <li *ngIf="isLogged()" class="navbar-brand waves-light" mdbWavesEffect>
            <a routerLink="/espaceclient/orderlistuser" class="login100-form-title p-b-34">Mes Commandes</a>

            <li *ngIf="isLogged()" class="navbar-brand waves-light" mdbWavesEffect>
                <a routerLink="/espaceclient/profile" class="login100-form-title p-b-34">Profil</a>

          <li *ngIf="isLogged()" class="navbar-brand waves-light" mdbWavesEffect>
            <a (click)="auth.logout()" class="login100-form-title p-b-34">Logout</a>

        </ul>
      </div>
    </div>
  </nav>

</header>
<!--Main Navigation-->
