<div class="d-flex align-items-start m-5">
  <div class="card w-25 mr-2">
    <img class="card-img-top" src="{{adventureEvent?.adventure.image}}" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title"><a>{{adventureEvent?.adventure.name}}</a></h3>
      <h5>Aura lieu le:</h5>
      <p>{{adventureEvent?.date | date:'short'}}</p>
      <h5>Prix:</h5>
      <p><strong>{{adventureEvent?.adventure.price}}</strong></p>

      <p>{{adventureEvent?.adventure.description}}</p>
    </div>
  </div>

  <div class="card flex-grow-1">
    <div class="card-body">
      <h3 class="card-title"><a>Payer l'aventure {{adventureEvent?.adventure}}</a></h3>
      <app-payment-form (paymentFormEvent)="onPaymentEvent($event)">
      </app-payment-form>
    </div>
  </div>
</div>
