<div class="input100">
  <!-- Main -->
  <!--Carousel Wrapper-->
  <div id="carousel-example-1z" class="ca rousel slide carousel-fade" data-ride="carousel">
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">

      <!--Slides-->
      <!--First slide-->
      <div class="carousel-item active">
        <div class="view">
          <mdb-carousel-item>
            <video class="video-fluid" autoplay loop muted>
              <source src="https://mdbootstrap.com/img/video/forest.mp4" type="video/mp4" />
            </video>

            <!-- Mask & flexbox options-->
            <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

              <!-- Content -->
              <div class="text-center white-text mx-5 wow fadeIn">
                <h1 class="mb-4">
                  <strong>Wild Adventures</strong>
                </h1>

                <p>
                  <strong>PARTEZ À L'AVENTURE</strong>
                </p>

                <p class="mb-4 d-none d-md-block">
                  <strong>
                    Wild Adventures est votre partenaire idéal pour participer aux séminaires, teambuildings, incentives et Family Days.
                  </strong>
                </p>
              </div>
              <!-- Content -->

            </div>
            <!-- Mask & flexbox options-->

          </mdb-carousel-item>
        </div>
      </div>
      <!--/First slide-->

      <!--Second slide-->
      <div class="carousel-item active">
        <div class="view">
          <mdb-carousel-item>
            <video class="video-fluid" autoplay loop muted>
              <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4">
            </video>

            <!-- Mask & flexbox options-->
            <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

              <!-- Content -->
              <div class="text-center white-text mx-5 wow fadeIn">
                <h1 class="mb-4">
                  <strong>
                    Wild Adventures
                  </strong>
                </h1>

                <p>
                  <strong>
                    PARTEZ À L'AVENTURE
                  </strong>
                </p>

                <p class="mb-4 d-none d-md-block">
                  <strong>
                    Wild Adventures est votre partenaire idéal pour participer aux séminaires, teambuildings, incentives et Family Days.
                  </strong>
                </p>
              </div>
              <!-- Content -->

            </div>
            <!-- Mask & flexbox options-->

          </mdb-carousel-item>
        </div>
      </div>
      <!--/Second slide-->

      <!--Third slide-->
      <div class="carousel-item active">
        <div class="view">
          <mdb-carousel-item>
            <video class="video-fluid" autoplay loop muted>
              <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4">
            </video>

            <!-- Mask & flexbox options-->
            <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

              <!-- Content -->
              <div class="text-center white-text mx-5 wow fadeIn">
                <h1 class="mb-4">
                  <strong>
                    Wild Adventures
                  </strong>
                </h1>

                <p>
                  <strong>
                    PARTEZ À L'AVENTURE
                  </strong>
                </p>

                <p class="mb-4 d-none d-md-block">
                  <strong>
                    Wild Adventures est votre partenaire idéal pour participer aux séminaires, teambuildings, incentives et Family Days.
                  </strong>
                </p>
              </div>
              <!-- Content -->

            </div>
            <!-- Mask & flexbox options-->

          </mdb-carousel-item>
        </div>
      </div>
      <!--/Third slide-->

      <!--/.Slides-->
    </mdb-carousel>
  </div>
  <!--/.Carousel Wrapper-->
  <!--Main layout-->
  <main>
    <div class="container">

      <!--Section: Main info-->
      <section class="mt-5 wow fadeIn">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-6 mb-4">

            <img src="https://www.furycat.com/images/fury-ultimate-adventure.jpg" class="img-fluid z-depth-1-half" alt="">

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 mb-4">

            <!-- Main heading -->
            <h3 class="h3 mb-3">Demander une réservation en ligne</h3>
            <p>
              <strong>Wild Adventures</strong>
              vous propose une réservation en ligne, c'est simple et rapide.
            </p>
            <p>Read details below to learn more about MDB.</p>
            <!-- Main heading -->

            <hr>

            <!-- CTA -->
            <a target="_blank" routerLink="/"  class="btn btn-grey btn-md">Incription
            </a>
            <a target="_blank" routerLink="/login"  class="btn btn-grey btn-md">Authentification
            </a>

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Main info-->

      <hr class="my-5">

      <!--Section: Main features & Quick Start-->
      <section>

        <h3 class="h3 text-center mb-5">A propos de Wild Adventures</h3>

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-lg-6 col-md-12 px-4">

            <!--First row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fas fa-diamond fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Ce qui est inclu?</h5>
                <p class="grey-text">À peu près tout est inclus dans le coût de votre expédition.</p>
              </div>
            </div>
            <!--/First row-->

            <div style="height:30px"></div>

            <!--Second row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fas fa-book fa-2x blue-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Conditions de réservation</h5>
                <p class="grey-text">
                  Visitez Wild Adventure en ligne pour obtenir des informations détaillées sur votre réservation,
                  des informations sur les tarifs aériens, les dépôts,
                  les protections de voyage, les voyages en groupe, etc.
                </p>
              </div>
            </div>
            <!--/Second row-->

            <div style="height:30px"></div>

            <!--Third row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fas fa-ambulance fa-2x cyan-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Politique d'annulation</h5>
                <p class="grey-text">Une annulation est possible 10 jours avant votre expédition!</p>
              </div>
            </div>
            <!--/Third row-->

          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-lg-6 col-md-12">

            <p class="h5 text-center mb-4">Watch our "5 min Quick Start" tutorial</p>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qw5ilYlc_Mg" allowfullscreen></iframe>

            </div>
          </div>
          <!--/Grid column-->

        </div>
        <!--/Grid row-->

      </section>
      <!--Section: Main features & Quick Start-->

      <hr class="my-5">

      <!--Section: Not enough-->
      <section>

        <h2 class="my-5 h3 text-center">
          Pas assez?
        </h2>

        <!--First row-->
        <div class="row features-small mb-5 mt-3 wow fadeIn">

          <!--First column-->
          <div class="col-md-4">
            <!--First row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Demander une réservation en ligne</h6>
                <p class="grey-text">Demander une réservation en ligne, c'est simple et rapide.
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/First row-->

            <!--Second row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">100+ Réservation par jours!</h6>
                <p class="grey-text">An impressive collection of flexible components allows you to develop any project.
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Second row-->

            <!--Third row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">10000+ Client satisfait!</h6>
                <p class="grey-text">Iis igitur est difficilius satis facere,
                  qui se Latina scripta dicunt contemnere. in quibus hoc primum est in quo admirer,
                  cur in gravissimis rebus non delectet eos sermo patrius, cum idem fabellas Latinas ad verbum e
                  Graecis expressas non inviti legant. quis enim tam inimicus paene nomini Romano est, qui Ennii
                  Medeam aut Antiopam Pacuvii spernat aut reiciat, quod se isdem Euripidis fabulis delectari dicat,
                  Latinas litteras oderit?</p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Third row-->


            <!--Fourth row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">500+ Adventures proposé!</h6>
                <p class="grey-text">Iis igitur est difficilius satis facere,
                  qui se Latina scripta dicunt contemnere. in quibus hoc primum est in quo admirer,
                  cur in gravissimis rebus non delectet eos sermo patrius, cum idem fabellas Latinas ad verbum e
                  Graecis expressas non inviti legant. quis enim tam inimicus paene nomini Romano est, qui Ennii
                  Medeam aut Antiopam Pacuvii spernat aut reiciat, quod se isdem Euripidis fabulis delectari dicat,
                  Latinas litteras oderit?</p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Fourth row-->
          </div>
          <!--/First column-->

          <!--Second column-->
          <div class="col-md-4 flex-center">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/02/ce/ab/73/ziplining-fun.jpg" alt="MDB Magazine Template displayed on iPhone" class="z-depth-0 img-fluid">
          </div>
          <!--/Second column-->

          <!--Third column-->
          <div class="col-md-4 mt-2">
            <!--First row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Inscription gratuite!</h6>
                <p class="grey-text">Iis igitur est difficilius satis facere,
                  qui se Latina scripta dicunt contemnere. in quibus hoc primum est in quo admirer,
                  cur in gravissimis rebus non delectet eos sermo patrius, cum idem fabellas Latinas ad verbum e
                  Graecis expressas non inviti legant. quis enim tam inimicus paene nomini Romano est, qui Ennii
                  Medeam aut Antiopam Pacuvii spernat aut reiciat, quod se isdem Euripidis fabulis delectari dicat,
                  Latinas litteras oderit?</p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/First row-->

            <!--Second row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Politique d'annulation</h6>
                <p class="grey-text">Une annulation est possible 10 jours avant votre expédition!</p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Second row-->

            <!--Third row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Ce qui est inclu?</h6>
                <p class="grey-text">À peu près tout est inclus dans le coût de votre expédition.
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Third row-->

            <!--Fourth row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Easy to use and customize</h6>
                <p class="grey-text">Iis igitur est difficilius satis facere,
                  qui se Latina scripta dicunt contemnere. in quibus hoc primum est in quo admirer,
                  cur in gravissimis rebus non delectet eos sermo patrius, cum idem fabellas Latinas ad verbum e
                  Graecis expressas non inviti legant. quis enim tam inimicus paene nomini Romano est, qui Ennii
                  Medeam aut Antiopam Pacuvii spernat aut reiciat, quod se isdem Euripidis fabulis delectari dicat,
                  Latinas litteras oderit?</p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Fourth row-->
          </div>
          <!--/Third column-->

        </div>
        <!--/First row-->

      </section>
      <!--Section: Not enough-->

    </div>
  </main>
  <!--Main layout-->
  <!-- /.Main -->
</div>
